body {
    background-color: rgb(176, 226, 189);
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

footer {
    background-color: rgb(84, 86, 194);
    color: black;
    font-family: Arial;
    margin: 0px;
    text-align:right ;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

main {
    color: black;
    font-family: Arial;
    margin: 5px;
}

header {
    background-color:rgb(133, 140, 201);
    color: black;
    font-family: Arial;
    margin: 0px;
}

a { 
    text-decoration: none; 
    color: rgb(161, 205, 231);
    transition: 1s 2s; 
} 
 
a:link { 
    color: rgb(141, 32, 243); 
    text-decoration: underline; 
} 
 
a:visited { 
    color: rgb(255, 0, 0); 
    text-decoration: underline; 
} 
 
a:hover { 
    color: rgb(75, 75, 78); 
    text-decoration: underline; 
    transition: 0.3s;
} 
 
a:active { 
    color: rgb(14, 225, 253); 
    opacity: 1; 
}

div.menu {
    border: 7px solid #eb0ebb80;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #1b8d4780 ;
    box-shadow: 0 0 15px #ffffff80;
}

h1 {
    text-align: center;
}

main {
    margin: 10px 20px 45px
}
